@import '~ngx-toastr/toastr';

body {
    background-image: url('./assets/ocean-1867285.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}